.ranked-list-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: auto;
}

.ranked-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ranked-list-page h1 {
  color: #eeebdd;
  font-size: 35px;
}

.page-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  gap: 10px;
}

.page-nav span {
  background-color: #ce1212;
  color: #eeebdd;
  padding: 5px;
}

.page-nav i {
  font-size: 11px;
}

.page-nav span:hover {
  cursor: pointer;
}

.page-nav-bot {
  margin-bottom: 10px;
  justify-content: center;
}
