.reviews-section {
  width: 70%;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.reviews-section h1 {
  font-size: 2.5rem;
  color: #eeebdd;
  margin-bottom: 1rem;
}

.reviews-list {
  background-color: #222;
  padding: 10px;
}

.reviews-list hr {
  margin-bottom: 15px;
}
