.character-actor-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
}

.block {
  display: flex;
  gap: 10px;
}

.some-info {
  display: flex;
  flex-direction: column;
  color: #eeebdd;
  gap: 20px;
  padding-top: 1rem;
}

.actor .some-info {
  align-items: flex-end;
}

.name {
  font-size: 1.3rem;
  font-weight: bold;
}

.role,
.language {
  font-size: 1rem;
  color: #a1a1a1;
}

.block img {
  width: 70px;
  height: 90px;
}
