.characters-list-page {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.char-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 30px 20px;
  justify-content: space-between;
}

.characters-list-page h1 {
  color: #eeebdd;
  font-size: 25px;
  margin-top: 20px;
}

.search-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.search-input label {
  color: #eeebdd;
  font-size: 15px;
}

.search-input-container {
  position: relative;
  font-size: 15px;
  width: fit-content;
}

.search-input-container .placeholder {
  position: absolute;
  color: #1b1717;
  z-index: 1;
  width: 15px;
  height: 15px;
  top: calc(50% - 7.5px);
  left: 10px;
}

.search-input input {
  width: 200px;
  padding-left: 10px;
  background-color: #eeebdd;
  color: #1b1717;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  position: relative;
}

@media all and (max-width: 825px) {
  .char-list-container {
    justify-content: space-evenly;
  }
}
