.about-anime {
  display: flex;
  width: 95%;
  margin: auto;
  padding-top: 2rem;
}

.poster img {
  width: 225px;
  height: 320px;
}

.add-to-list-container {
  width: 100%;
  height: 40px;
  background-color: rgb(231 69 56);
  color: #eeebdd;
  font-size: 1.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anime-info {
  color: #eeebdd;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
}

.anime-stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  line-height: 2rem;
}

.title-synopsis {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.anime-hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.anime-hero-synopsis {
  line-height: 2rem;
}

.anime-hero-synopsis p {
  font-weight: bold;
  margin-bottom: 4px;
  color: #eeebdd;
}

.anime-hero-synopsis {
  color: #a1a1a1;
}

.fa-star {
  color: rgb(255, 235, 53);
}

.fa-heart {
  color: rgb(255, 17, 97);
}

.fa-trophy {
  color: gold;
}
@media screen and (max-width: 850px) {
  .about-anime {
    flex-direction: column;
  }
  .poster {
    align-self: center;
  }
  .add-to-list-container {
    width: 225px;
  }
}
