.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ce1212;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .nav-item {
  font-size: 1.5rem;
  padding: 1rem;
  color: #eeebdd;
  transition: all 0.2s ease;
}

.navbar .nav-item:hover {
  background-color: #810000;
  border-radius: 5px;
  cursor: pointer;
}

.notification-bell {
  position: relative;
}

.notification-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: red;
  min-width: 14px;
  height: 14px;
  border-radius: 25px;
  font-size: 10px;
  padding: 0 2px;
  color: #eeebdd;
}
